server:
  image: nginx:stable
  volumes:
    - ./website/:/usr/share/nginx/html/
    - ./conf.d/:/etc/nginx/conf.d/
    - ./nginx.conf:/etc/nginx/nginx.conf
  ports:
    - "80:80"
  links:
    - "php:php-fpm"

php:
  build: .
  volumes:
    - ./website/default/:/usr/share/nginx/html/default/
    - ./website/jushu/:/usr/share/nginx/html/jushu/
